version: "3.8"

services:
  mysql:
    image: mysql
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    volumes:
      - mysql_conf:/etc/mysql/conf.d
      - mysql_data:/var/lib/mysql
      - mysql_init:/docker-entrypoint-initdb.d
    networks:
      - emotion-net
  emotion-test:
    build:
      context: .
      dockerfile: Docker/Dockerfile
    container_name: emotion-container
    ports:
      - "8080:8080"
    networks:
      - emotion-net
    depends_on:
      - mysql
networks:
  emotion-net:
    name: hmall

volumes:
  mysql_conf:
  mysql_data:
  mysql_init:
